*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    display: flex;
    background-color: darkgray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    min-height: 100vh;
}
img{
    max-width: 650px;
    width: 100%;
    
    margin: 0 auto;
}
.conteudo{
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.fonteLeve{
    font-weight: 500;
    
   
    font-family: 'Times New Roman', Times, serif;
}
footer{
    background-color: black;
    color: white;
    width: 100%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    height: 40px;
    margin-top: auto;
}